# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask instance folder (config locale, database SQLite, ecc.)
instance/

# Environment variables
.env
*.env

# IDE / editor
.vscode/
.idea/

# Distribuzione / build
dist/
build/

# Database SQLite
*.sqlite
*.db